<form class="new-post-form">
  <div>
    <label for="create-title" class="form-label">Title</label>
    <input type="text" id="create-title" name="create-title" class="form-control"/>
  </div>
  <div class="my-2">
    <label for="content" class="form-label">Content</label>
    <input id="content" name="content" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary mb-2">Create</button>
</form>

<script src="/javascript/create-post.js"></script>
<script src="/javascript/edit-post.js"></script>
