<section class="my-5">
  <h2 class="title">Create New Post</h2>
  <a class="link" href="/dashboard/create"><button type="submit" class="btn btn-warning">+ New Post</button></a>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <div class="post">
      <div class="text-end">
      <a href="/dashboard/edit/{{post.id}}" class="post-author">Edit post</a>
      </div>
      {{> post-info post}}
      {{!-- <div class="text-end">
      <a href="/dashboard/edit/{{post.id}}" class="post-author">Edit post</a>
      </div> --}}
    </div>
    {{/each}}
  </ol>
</section>
{{/if}}

{{!-- <script src="/javascript/create-post.js"></script> --}}
{{!-- <script src="/javascript/comment.js"></script> --}}
