<article class="my-3">
  <a href="/dashboard" class=""> <p>&#8678; Back to dashboard</p></a>
  <h2 class="mt-4">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="col-7">
      <label for="update-title" class="form-label">Title</label>
      <input 
        name="update-title"
        type="text"
        value="{{post.title}}"
        class="form-input form-control"
      />
    </div>
    <div class="col-7 mt-2">
      <label for="content" class="form-label">Content</label>
      <input
        name="content"
        class="form-input form-control"
        type="text"
        value="{{post.post_content}}"/>
    </div>
    <div class="my-3">
    <button type="submit" id="update-btn" class="btn btn-primary">Update post</button>
    <button type="button" class="btn delete-post-btn btn-danger">Delete post</button>
    </div>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}