<div class="mt-5 mb-5">
  <form class="signup-form">
    <div class="row g-3">
      <div class="col-7">
        <label for="user-signup" class="form-label">Username</label>
        <input
          type="text"
          id="user-signup"
          name="user-signup"
          class="form-control"
        />
      </div>
      <div class="col-7">
        <label for="email-signup" class="form-label">Email</label>
        <input
          type="text"
          id="email-signup"
          name="email-signup"
          class="form-control"
        />
      </div>
      <div class="col-7">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" id="password-signup" class="form-control" />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Signup</button>
        <a class="btn login-link" href="/login">Login</a>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/signup.js"></script>
<script src="/javascript/login.js"></script>