* {
  box-sizing: border-box;
}

ol {
  list-style: none;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  border-bottom: 1px solid #0e506e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

h1 span {
  color: #999797;
}

h1 span:hover {
  color: #0e506e;
}

h1 a:hover {
  color: #0e506e;
}

nav a button {
  color: red;
}

a {
  text-decoration: none;
  color: #0e506e;
}

a:hover {
  text-decoration: none;
  color: #999797;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #0e506e;
  font-size: 90%;
  transition: color 0.1s;
}

.wrapper {
  width: 70%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
      flex-direction: column;
}

.post{
  margin: 20px 0;
  border: 1px solid;
}

.post-title{
  background-color: #52b0cc7e;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  text-align: left;
}

.post-content{
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.post-author{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.post-username{
  font-weight: bold;
}

footer {
  border-top: 1px solid #0e506e;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
